<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id='formulario' method="POST" action="salvar/">
              {% include "Components/autocomplete.twig" %}
              <div class="wrapper-input">
                <input name="prescription" id="prescription" placeholder="Prescrição"></input>
              </div>
              <div class="wrapper-input">
                <textarea name="observations" id="observations" placeholder="Observações" rows="3"></textarea>
              </div>
              <div class="row wrapper-input">
                <div class="col-6">
                  <input type="date" name="date" id="date" min="2021-09-01" max="2050-12-31" required>
                </div>
                <div class="col-6">
                  <div class="input-group datetimepicker">
                    <input type="text" class="form-control" name="timepicker" id='timepicker' >
                    <span class="input-group-addon" style="position: relative; top: 10px; left: 5px;">
                      <span class="fa fa-clock-o"></span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              </div>
            </form>
        </div>
      </div>
    </div>
</div>

<!-- Modal EDIÇÃO -->
<div class="modal fade" id="formModal-edit-consulta" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form id='formulario' method="POST" action="editar/">
            <input type="hidden" name="consultaID-edit" id="consultaID-edit" >
            {% include "Components/autocomplete.twig" %}
            <div class="wrapper-input">
              <input name="prescription-edit" id="prescription-edit" placeholder="Prescrição"></input>
            </div>
            <div class="wrapper-input">
              <textarea name="observations-edit" id="observations-edit" placeholder="Observações" rows="3"></textarea>
            </div>
            <div class="row wrapper-input">
              <div class="col-6">
                <input type="date" name="date-edit" id="date-edit" min="2021-09-01" max="2050-12-31">
              </div>
              <div class="col-6">
                <div class="input-group datetimepicker">
                  <input type="text" class="form-control" name="timepicker-edit" id='timepicker-edit'>
                  <span class="input-group-addon" style="position: relative; top: 10px; left: 5px;">
                    <span class="fa fa-clock-o"></span>
                  </span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Salvar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>