{% extends "Layout.twig" %}

{% block isLogin %}{% endblock %}

{% block body_content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Exames</h1>
        </div>
        <div >
            <button class="btn btn-primary" onClick="history.go(-1)" >Voltar</button>
            {% if role == "laboratorie" %}
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#formModal-novo-exame"><span class="iconify-inline" data-icon="carbon:folder-add"></span> Adicionar</button>
            {% endif %}
        </div>
        {% include "Components/tables/exams.twig" %}
        {% include "Components/modals/exams.twig" %}
    </div>

{% endblock %}