{% extends "Layout.twig" %}

{% block isLogin %}{% endblock %}

{% block body_content %}

    <div class="container-fluid">        
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Início</h1>
        </div>
        <div class="row">

            {% for card in cards %}    
                {% include "Components/card.twig" with {
                    'title' : card.title,
                    'link' : card.link,
                    'icon' : card.icon
                } %}  
            {% endfor %}
        </div>
    </div>    

{% endblock %}