<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="public/assets/css/navbar.css" crossorigin="anonymous">
        <link rel="stylesheet" href="public/assets/css/layout.css" crossorigin="anonymous">
        <link rel="stylesheet" href="public/assets/css/modal.css" crossorigin="anonymous">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet"  crossorigin="anonymous">
        <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>

        <script src="public/assets/js/navbar.js"></script>
        <script src="https://kit.fontawesome.com/a82adfd469.js" crossorigin="anonymous"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>    
    </head>
    <body id="body-pd">
        {% include "Components/header.twig" %}   
        {% include "Components/navbar.twig" %}
        <div class="height-100 body_content">
            <div class="body_card">
                {{ block('body_content') }} 
            </div>
        </div>   
    </body>
</html>