<div class="wrapper">
  <div class="search-input">
    <a href="" target="_blank" hidden></a>
    <input type="hidden" name="patientID" id="patientID" >
    <input type="text" placeholder="Encontrar Paciente..." name="patient" id="patient" onkeyup="lookup(this.value, 'searchPatients/');">
    <div class="autocom-box">
      <!-- here list are inserted from javascript -->
    </div>
    <div class="icon"><i class="fas fa-search"></i></div>
  </div>
</div>