<div class="col-xl-3 col-md-6 mb-4">
    <a href="{{ link }}" style="text-decoration: none;">
        <div class="card border-left-secondary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            {{ title }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas {{ icon }} fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>